.admin-container {
  display: flex;
  flex-direction: column;

  background-color: #f2f2f2;

  >.top-container {

  }

  >.bottom-container {
    display: flex;
    max-width: 100vw;
    max-height: calc(100vh - 56px);
    overflow-y: scroll;

    .content-container{
      width: calc(100vw - 200px);
    }
  }
}
