.quiz-take-container {
  .question-container {
    width: 604px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 2px rgba(0,0,0,0.1), 0 2px 2px rgba(0,0,0,0.15);
    margin-top: 24px;

    .question-number {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      height: 52px;
      padding: 8px 16px;
      background-color: #F2F2F2;

      font-size: 16px;
      font-weight: 500;
    }

    .text {
      display: inline;
      position: absolute;
      top: -9px;
      left: 24px;
      z-index: 2;

      padding: 2px;
      background-color: #fff;

      font-size: 12px;
      color: #6B7C93;
    }

    .divider {
      height: 1px;
      position: relative;
      background-color: #D8D8D8;
      margin: 0 8px;
      z-index: 0;
    }

    .question-body {
      margin-bottom: 16px;
      margin-top: 16px;
      padding-left: 16px;
    }

    .answers {
      display: flex;

      .side {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 50%;
        margin: 16px;

        .circle {
          height: 15px;
          width: 15px;
          background-color: red;
          border-radius: 50%;
          margin: 0 2px;

          &.selected {
            background-color: green;
          }
        }
        
        .choice {
          display: flex;
          align-items: center;

          width: max-content;
          cursor: pointer;
        }

        div {
          display: flex;
          margin: 5px;

          color: #393A68;
          font-size: 14px;
          vertical-align: middle;
        }
      }
    }
  }
}
