.sidebar-container {
  position: absolute;
  top: 56px;
  height: 100vh;
  width: 200px;
  transition: 0.2s all ease-in-out;
  background-color: #fff;
  box-shadow: 1px 0px 0px rgba(9,9,9,0.1);
  
  .create-button {
    width: 168px;
    height: 40px;
    padding: 8px;
    background-color: #8854C0;
    border-radius: 8px;
    box-shadow: 0px 2px 0px #6C4298;
    margin: 8px 16px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    transition: all 0.14s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    

    &:hover {
      cursor: pointer;
      background-color: #9465C6;
    }
  }

  .tab-container {

    .tab {
      height: 44px;
      margin: 8px 16px 8px;
      color: #73747E;
      font-size: 14px;
      line-height: 28px;
      transition: all 0.14s ease-in-out;
      font-weight: 600;


      &:hover {
        cursor: pointer;
        background-color: rgba(0,0,0,0.05);
      }

    }
  }
  .user-info {
    display: flex;
    align-items: center;
    margin: 16px;

    .profile-picture {
      width: 40px;
      height: 40px;
      background-color: darkgreen;
      border-radius: 50%;
      margin-right: 8px;
    }

    .user-name {
      font-size: 14px;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      

      // &:hover {
      //   cursor: pointer;
      //   text-decoration: underline;
      // }
    }
  }
}