.session-form-container {
  margin-top: 80px;

  form {
    display: flex;
    flex-direction: column;

    box-sizing: content-box;
    max-width: 400px;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    border-bottom: 4px solid #dadada;
    margin: auto;

    .title {
      font-size: 28px;
      text-align: center;
      margin-bottom: 40px;
    }

    label {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      height: 67px;
      margin-bottom: 16px;

      color: rgba(0,0,0,0.5);
      font-size: 14px;
      font-weight: 600;
    }

    input {
      height: 40px;
      padding: 0 16px;
      border-radius: 8px;
      border: 1px solid rgba(0,0,0,0.2);

      color: #292a3a;
      font-size: 16px;

      &:hover {
        border: 1px solid rgba(0,0,0,0.33);
      }

      &:focus {
        background-color: rgba(0,0,0,0.03);
      }

      &::placeholder {
        color: rgba(0,0,0,0.33);
      }
    }

    input[type = submit] {
      box-shadow: 0 4px 0 0 rgba(0,0,0,0.1),0 4px 0 0 #8854c0;
      margin-top: 24px;

      color: #fff;
      text-align: center;
    }

    &.signup {
      input[type = submit] {
        background-color: #8854c0;
      }
    }

    &.login {
      input[type = submit] {
        background-color: #7d72ec;
      }
    }
  }

}
